// Tailwind CSS.
@tailwind base;
@tailwind components;

// Config.
@import './partials/shared/variables';

// Third Party
@import '../../node_modules/flatpickr/dist/flatpickr.css';

// Components.
@import './components/button';
@import './components/container';
@import './components/field';
@import './components/heading';
@import './components/label';

// Hydrofon styles.
@import './partials/shared/base';
@import './partials/shared/tables';
@import './partials/shared/helpers';
@import './partials/shared/transitions';
@import './partials/shared/alpine';
@import './partials/app/resourcelist';
@import './partials/app/pagination';
@import './partials/app/flash-message';
@import './partials/app/segel';

// Tailwind CSS.
@tailwind utilities;
