.btn {
  @apply py-2 px-4 rounded no-underline;

  &:hover {
    @apply opacity-75;
  }

  &.disabled,
  &:disabled {
    @apply opacity-50 cursor-not-allowed;
  }
}

.btn-pill {
  @apply rounded-full;
}

.btn-primary {
  @apply bg-brand-600 text-white;

  &:hover {
    @apply text-white;
  }
}

