.branding {
  padding: 3rem 0;
  background-color: $brand-color;

  h1 {
    margin: 0;
    font-size: 1rem;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
  }

  a {
    color: #fff;
  }
}