.alert {
  padding: 1.5rem 2rem;
  background-color: rgba(255, 99, 71, .75);
  color: #fff;
  font-size: .8rem;
  opacity: 1;
  visibility: visible;
}

.alert-hide {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s 1s, opacity 1s linear;
}