.objectlist {
  flex: 0 1 14rem;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #313541;
  color: rgba(255, 255, 255, .6);

  .container {
    padding: 1rem;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }

  li {
    margin: .25rem 0;
  }

  svg {
    width: 1.25rem;
    height: auto;
    vertical-align: text-bottom;
    fill: #d45843;
  }
}

.objectlist__collapsed {
  flex: 0 1 1rem;

  ul {
    display: none;
  }
}

.objectlist-toggle {
  display: flex;
  width: 2rem;
  height: 3.9rem;
  position: absolute;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
}

.objectlist-children {
  margin: 0 0 .5rem .5rem;
}

.objectlist-date {
  padding: 1rem 2rem 1rem 1rem;
  background-color: rgba(255, 255, 255, .8);
}

.objectlist-toggle-icon {
  display: none;

  &:first-child {
    display: block;
  }

  .objectlist__collapsed & {
    display: block;

    &:first-child {
      display: none;
    }
  }
}