.sidebar {
  background-color: #282c37;
  color: #757e96;
  text-align: center;

  ul {
    padding: 0;
    list-style: none;
  }

  a {
    color: #757e96;
    text-decoration: none;
  }
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-avatar {
  width: 2rem;
  border-radius: 50%;
}

.user-name {
  margin-left: .5rem;
  padding-top: .25rem;
}

.sidebar-link {
  a {
    display: block;
    width: 100%;
    padding: .5rem 0;
    font-size: .75rem;
    line-height: 1.2;

    &:hover {
      background-color: rgba(255, 255, 255, .1);
    }
  }

  svg {
    display: block;
    width: 2rem;
    height: auto;
    margin: 0 auto .25rem;

    path {
      fill: #757e96;
    }
  }
}

.administrator {
  .sidebar {
    overflow-y: scroll;
  }

  .user {
    padding: 1rem .25rem;
    background-color: rgba($brand-color, .8);

    a {
      color: #fff;
    }
  }

  .user-name {
    margin: 0;
    font-size: .75rem;
    line-height: 1.2;
    text-align: left;
  }
}