.sidebar {
  overflow-y: hidden;
  background-color: #282c37;
  color: #757e96;
  text-align: center;

  ul {
    padding: 0;
    list-style: none;
  }

  a {
    color: #757e96;
    text-decoration: none;
  }
}

.main-navigation {
  overflow-y: scroll;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem .25rem;
  background-color: rgba($brand-color, .8);

  a {
    color: #fff;
  }
}

.user-avatar {
  width: 2rem;
  border-radius: 50%;
}

.user-name {
  padding-top: .25rem;
  font-size: .75rem;
  line-height: 1.2;
  text-align: left;
}

.sidebar-link {
  a {
    display: block;
    width: 100%;
    padding: .5rem 0;
    font-size: .75rem;
    line-height: 1.2;

    &:hover {
      background-color: rgba(255, 255, 255, .1);
    }
  }

  svg {
    display: block;
    width: 1.75rem;
    height: auto;
    margin: 0 auto .3rem;

    path {
      fill: #757e96;
    }
  }
}