.topbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #fff;

  > * {
    width: 33%;
  }

  label,
  input,
  select {
    background: transparent none no-repeat center left;
  }

  .input-group {
    label {
      width: 1.5rem;
      padding: 0;
    }
  }
}