.topbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #fff;

  > * {
    width: 33%;
  }

  form {
    display: flex;
    align-items: center;
  }

  label,
  input,
  select {
    margin-bottom: 0;
    background: transparent none no-repeat center left;
    font-size: .8rem;
  }
}