.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    list-style: none;

    span,
    button,
    a {
        margin: 0 .25rem;
        padding: .25rem;
        font-size: inherit;
        font-weight: inherit;
    }

    button,
    a {
        text-decoration: underline;
    }

    [rel="prev"],
    [rel="next"] {
        text-decoration: none;
    }

    .disabled {
        opacity: .25;
    }
}
