.resourcelist {
    flex: 0 1 14rem;
}

.resourcelist-children {
    display: none;
    margin: 0 0 .5rem .5rem;

    .expanded > & {
        display: block;
    }
}

.resourcelist-category {
    &.has-children > span {
        display: block;
        cursor: pointer;
    }
}
