table {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    background-color: #fff;
}

th,
td {
    @apply p-4;
}

th {
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;

    &, a {
        color: #bfc9d3;
        text-decoration: none;
    }

    thead & {
        @apply border-b border-slate-200 text-sm;
    }

    tfoot & {
        @apply border-t border-slate-200 text-sm;
    }
}
