img {
  max-width: 100%;
  height: auto;
}

h1 {
  margin-top: 0;
  font-size: 2.488em;
}

h2 {font-size: 2.074em;}
h3 {font-size: 1.728em;}
h4 {font-size: 1.44em;}
h5 {font-size: 1.2em;}

.main-content {
  background-color: #eff4fa;
}

.container {
    @apply w-full p-8;
}
