html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  background-color: #fff;
  color: #3d3e3f;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $link-color;

  &:hover {
    color: $link-hover-color;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2.75rem 0 1rem;
  line-height: 1.15;
  font-weight: inherit;

  a {
    color: inherit;
    text-decoration: none;
  }
}

h1 {
  margin-top: 0;
  font-size: 2.488em;
}

h2 {font-size: 2.074em;}
h3 {font-size: 1.728em;}
h4 {font-size: 1.44em;}
h5 {font-size: 1.2em;}

.main-content {
  background-color: #eff4fa;
}