table {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    background-color: #fff;
}

tr.even {
    background-color: #f4f7fc;
}

tbody tr:hover {
    @apply .bg-brand-100;

    .table-actions > div {
        visibility: visible;
    }

    .js & {
        cursor: pointer;
    }
}


th,
td {
    padding: .875rem;
}

th {
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;

    &, a {
        color: #bfc9d3;
        text-decoration: none;
    }

    thead & {
        border-bottom: 1px solid #eef2f5;
        font-size: .8rem;
    }

    tfoot & {
        border-top: 1px solid #eef2f5;
        font-size: .9rem;
    }
}

.table-column-check {
    width: 2rem;
}

.table-actions {
    display: flex;
    justify-content: flex-end;

    form {
        display: inline;
    }

    a,
    button {
        &:not(.btn) {
            vertical-align: middle;
            padding: 0;
            background-color: transparent;
            color: #e65940;
            border: none;
            cursor: pointer;
            font-weight: inherit;
            text-decoration: none;
        }

        font-size: .875rem;
    }

    > div {
        visibility: hidden;
        font-size: 0;

        &::before {
            content: '|';
            vertical-align: bottom;
            padding: 0 .25rem;
            color: #bfc9d3;
            font-size: 1rem;
        }

        &:first-of-type::before {
            visibility: hidden;
        }
    }
}
