.calendar-header {
  display: flex;
  align-items: baseline;
  margin-bottom: 1rem;

  > * {
    order: 1;
    font-size: 2rem;
    line-height: 1;
  }

  h1 {
    margin: 0 .5rem;
  }
  
  a,
  button {
    color: inherit;
    text-decoration: none;

    &:first-of-type {
      order: 0;
    }
  }
}