.resourcelist {
  flex: 0 1 14rem;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 3.5rem;
  background-color: #313541;
  color: rgba(255, 255, 255, .6);
  white-space: nowrap;
  user-select: none;

  li {
    margin: .25rem 0;
  }

  svg {
    width: 1.25rem;
    height: auto;
    vertical-align: text-bottom;
    fill: #d45843;
  }
}

.resourcelist__collapsed {
  flex: 0 1 1rem;

  ul {
    display: none;
  }
}

.resourcelist-toggle {
  display: flex;
  width: 2rem;
  height: 3.9rem;
  position: absolute;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
}

.resourcelist-children {
  margin: 0 0 .5rem .5rem;
}

.resourcelist-date {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 2rem 1rem 1rem;
  background-color: rgba(255, 255, 255, .75);

  input {
    margin-bottom: 0;
    font-size: .8rem;
  }
}

.resourcelist-toggle-icon {
  display: none;

  &:first-child {
    display: block;
  }

  .resourcelist__collapsed & {
    display: block;

    &:first-child {
      display: none;
    }
  }
}

.resourcelist-category {
  div {
    display: inline-block;
  }
}