.segel-resource {
    &.droppable {
        @apply bg-brand bg-opacity-5;
    }

    .is-dragging {
        @apply border-2 border-brand-600 border-opacity-10 shadow-sm ;
    }
}

.segel-resize-handle {
    .segel-booking.editable:hover &,
    .segel-booking.is-resizing & {
        @apply flex;
    }

    .segel-booking.is-dragging & {
        @apply hidden;
    }
}

.segel-resize-handle__left {
    @apply left-0;
}

.segel-resize-handle__right {
    @apply right-0;
}

// Animations.
@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}

.progress {
    background-color: tomato;

    &:before,
    &:after {
        content: "";
        position: absolute;
        height: 3px;
        left: 0;
        bottom: 0;
        background-color: inherit;
        will-change: left, right;
    }

    &:before {
        animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395)
        infinite;
    }

    &:after {
        animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1)
        infinite;
        animation-delay: 1.15s;
    }
}
