html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  background-color: #fff;
  color: #3d3e3f;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $link-color;

  &:hover {
    color: $link-hover-color;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;

  a {
    color: inherit;
    text-decoration: none;
  }
}