label {
  display: block;

  &.input {
    margin-bottom: 1.5rem;
  }
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='text'],
input:not([type]),
textarea,
select {
  width: 100%;
  margin-bottom: 1.5rem;
  padding: .5rem;
  background-color: #eee;
  border: none;
  border-radius: .25rem;
  font-size: .8rem;
  appearance: none;

  .has-error {
    box-shadow: 0 0 2px 0px rgba(255, 0, 0, .8);
  }
}

input[type="checkbox"],
input[type="file"] {
  padding: 0;
}

input[type="checkbox"] {
  width: auto;
  height: auto;
  margin-bottom: 0;
  appearance: checkbox;
}

.input-group {
  &,
  label {
    display: flex;
    align-items: center;
  }

  > input,
  > select {
    margin-bottom: 0;
  }

  input[type="submit"] {
    flex: 0 0 2rem;
    border: none;
  }

  label {
    padding: .5rem;
    background-color: #313541;
    color: rgba(255, 255, 255, .6);
    font-size: .8rem;

    &:first-child {
      padding-right: 1rem;
      border-top-left-radius: .25rem;
      border-bottom-left-radius: .25rem;
    }
  }

  :first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  :last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.inline-form {
  display: flex;
}