label {
  display: block;
  margin-bottom: .25rem;

  &.input {
    margin-bottom: 1.5rem;
  }
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='text'],
input:not([type]),
textarea,
select {
  width: 100%;
  margin-bottom: 1.5rem;
  padding: .5rem;
  background-color: rgba(255, 255, 255, .75);
  border: none;
  border-radius: .25rem;
  font-size: 1rem;
  line-height: 1.2;
  appearance: none;

  .has-error {
    box-shadow: 0 0 2px 0px rgba(255, 0, 0, .8);
  }
}

input[type="checkbox"],
input[type="file"] {
  padding: 0;
}

input[type="checkbox"] {
  width: auto;
  height: auto;
  margin-bottom: 0;
  appearance: checkbox;
}

.inline-form {
  display: flex;

  > * {
    margin-bottom: 0;
  }
}