.main-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  > aside {
    display: flex;
    align-items: baseline;

    input {
      margin-bottom: 0;
    }

    > * {
      margin-left: 1rem;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}