.sidebar {
  flex: 0 0 7rem;

  > * {
    width: 100%;
  }
}

.main-content {
  background-color: #eff4fa;
}

.container {
  padding: 2rem;
}

.main-content,
.container {
  > *:first-child,
  > header > *:first-child {
    margin-top: 0;
  }
}