.app {
  height: 100%;
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 7rem;

  > * {
    width: 100%;
  }
}

.main-navigation {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;

  ul {
    margin: 1rem 0;
  }
}

.main-content {
  flex: 1 1 auto;
  overflow-y: scroll;
  background-color: #eff4fa;
}

.container {
  padding: 2rem;
}

.main-content,
.container {
  > *:first-child,
  > header > *:first-child {
    margin-top: 0;
  }
}