table {
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  background-color: #fff;
}

tr:nth-child(even) {
  background-color: #f4f7fc;
}

th,
td {
  padding: .5rem;
}

th {
  color: #bfc9d3;
  border-bottom: 1px solid #eef2f5;
  font-size: .8rem;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
}

td {
  a {
    color: #73818d;
  }
}