table {
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  background-color: #fff;
}

tr:nth-child(even) {
  background-color: #f4f7fc;
}

th,
td {
  padding: .5rem;
}

th {
  border-bottom: 1px solid #eef2f5;
  font-size: .8rem;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
  
  &, a {
    color: #bfc9d3;
    text-decoration: none;
  }
}

.table-column-check {
  width: 2rem;
}

.table-actions {
  display: flex;
  justify-content: flex-end;

  button {
    vertical-align: middle;
    margin-left: .5rem;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  svg {
    vertical-align: middle;
  }
}